* {
  font-family: 'Courier New', Courier, monospace;
}

ol > li > ul {
  list-style-type: disc;
}

h1 {
  border-bottom: solid black;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: white;
}

h2 {
  text-decoration: underline wavy 6%;
}

img {
  width: 100%;
  height: auto;
}
